.slides img, .slides2 img {
    width: 300px;
    margin: 10px;
    margin-right: 20px;
}
.slides2 {
    height: fit-content;
}
.slides2 h3 {
    padding: 0px;
}
.slides img {
    float: left;
}
.slides h3, .slides2 h3 {
    padding: 20px;
}
.slides, .slides2 {
    display: none;
    padding: 0;
    height: 420px;
}
.slides2 {
    height: 500px;
}
.slideshow-container {
    max-width: 700px;
    position: relative;
    margin: auto;
    background-color: #efb22b;
}
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: #0d052b;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    user-select: none;
}
.prev {
    left: 0;
}
.next {
    right: 0;
}
.prev:hover, .next:hover {
    background-color: #c66a52;
}
#invasives, #other {
    height: 1000px;
}